.root {
  cursor: pointer;

  position: absolute;
  top: auto;
  bottom: auto;
  left: 8px;

  width: 32px;
  height: 32px;

  appearance: none;
  background-position: center;
  border: 1px solid var(--green-100);
  border-radius: 50%;

  &:checked {
    border: 1px solid var(--green-200);
  }

  &:checked::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 0.5px), calc(-50% - 1.5px)) rotate(-45deg);

    width: 12.243px;
    height: 7.122px;

    border-bottom: 2px solid var(--green-300);
    border-left: 2px solid var(--green-300);
  }
}
